html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: $natural-white;
}

.container {
  padding: em(5) em(20);
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

section {
  padding: em(20) em(40) 0;
  text-align: center;

  .line {
    border-top: em(5) solid $yellow;
    width: 10%;
    margin: 0 auto em(10);
  }
  .display-inline {
    display: inline;
  }
}

.material-icons{
  font-size: em(16);
  padding: em(5);
  color: $grey;
}
