.answer{
  p{
    text-align: left;
    font-family: $base-font-family;
    font-size: em(14);
    padding: 0;
    margin: em(10) 0;
  }

  .material-icons{
    border: $base-border;
    margin-right: em(10);
    border-radius: 50%;
  }

  .correct{
    border-color: $green;
  }

  .incorrect{
    border-color: $red;
  }
}
