.question hr {
    margin: 10px;
    width: 90%;
}

.question .question-text {
    width: 90%;
    font-size: 18px;
}

.question p {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.question p span {
    padding: 0 1.07143em;
}
